.ic {
  font-size: 32px;
  color: transparent;
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  overflow: visible;
  font-style: normal;
  height: 1em;
  width: 1em;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.ic:before, .ic:after {
  /* BACKGROUND COLOR */
  background-color: #fff;
  border-color: #fff;
  color: #fff;
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
}

.ic.ic-eye:before {
  width: 0.75em;
  height: 0.75em;
  top: 0.125em;
  left: 0.125em;
  background-color: #000;
  border-radius: 0 80% 0 80%;
  transform: rotate(-45deg);
}

.ic.ic-eye:after {
  width: 0.5em;
  height: 0.5em;
  left: 0.25em;
  top: 0.25em;
  border: 0.125em solid;
  border-radius: 100%;
  background-color: transparent;
  transform: scale(0.8);
}

.inoc {
  font-size: 32px;
  color: transparent;
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  overflow: visible;
  font-style: normal;
  height: 1em;
  width: 1em;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.inoc:before, .inoc:after {
  /* BACKGROUND COLOR */
  background-color: #fff;
  border-color: #fff;
  color: #fff;
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
}

.inoc.inoc-eye:before {
  width: 0.75em;
  height: 0.75em;
  top: 0.125em;
  left: 0.125em;
  background-color: #777;
  border-radius: 0 80% 0 80%;
  transform: rotate(-45deg);
}

.inoc.inoc-eye:after {
  width: 0.5em;
  height: 0.5em;
  left: 0.25em;
  top: 0.25em;
  border: 0.125em solid;
  border-radius: 100%;
  background-color: transparent;
  transform: scale(0.8);
}

.ic.ic-eye:hover:before {
  background-color: #777;
}


.episodesList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.episodesList li {
  font: 'Lato', sans-serif;
  border-bottom: 1px solid #ccc;
  padding: 4px
}

.episodesList li:last-child {
  border: none;
}

.episodesList li:nth-child(odd) {
  background-color: rgb(249, 249, 249);
}

.episodesList li a {
  text-decoration: none;
  color: #000;
}

.epList {
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.watchBtn {
  position: relative;
}
