

#collapseBtn {
  z-index: 100;
  left: 0;
  margin-left: 1px;
  position: fixed;
}

.sidebar {
  overflow: auto;
  top: 0px;
  position: fixed;
  max-width: 155px;
  height: 100%;
  z-index: 99;
  background: #3a6186;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.3s ease-out;
  text-align: left;
  padding: .5rem 1rem;
  color: #fff;
  left: -120px
}

.sidebar a {
  color: #fff
}


.toggleBtn {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 2px 1px;
  font: normal normal bold 30px/50px Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
}
